
@{
    ViewBag.Title = "Multi";

}

<h2>批量录入</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        <div>
            <textarea name="List" class="form-control col-lg-6" rows="20" cols="70" placeholder="航班号 飞机号 机型 出发站 出发停机位 计划出发 到达站 到达停机位 计划到达"></textarea>
        </div>
        <script>

        </script>
        <div>
            <input type="submit" value="预览" class="btn btn-default" name="action" />
            <input type="submit" value="提交" class="btn btn-default" name="action" />
        </div>

    </div>

    <div class="form-group">

        <table class="table">
            <tr>
                <th>航班号</th>
                <th>飞机号</th>
                <th>机型</th>
                <th>出发站</th>
                <th>出发停机位</th>
                <th>计划出发</th>
                <th>到达站</th>
                <th>到达停机位</th>
                <th>计划到达</th>
            </tr>
            @if (ViewBag.Content != null)
                {
                    foreach (string item in ViewBag.Content)
                    {
                        if (!string.IsNullOrEmpty(item))
                        {
                        <tr>
                            @foreach (var t in item.Split('\0'))
                            {
                                <td>@t.ToString()</td>
                            }

                         
                        </tr>
                    }
                }
            }
        </table>
    </div>
            <div>
                @ViewBag.ContentString
            </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

