
@{
    ViewBag.Title = "Multi";

}

<h2>批量录入</h2>
@* 日期控件相关引用资源 *@
<script src="~/Content/widget/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Content/widget/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
<script src="~/Content/widget/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
    $(document).ready(function () {

        //日期控件初始化
        $('#datetimepicker').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 2,
            todayBtn: true,
            todayHighlight: true
        });
    })



</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        航班：提交数量：@ViewBag.SubmitCount; 跳过数量：@ViewBag.SkipCount;
    </p>

    <div class="form-group">
  
        <div class="col-sm-12">
            <textarea name="List" class="form-control col-lg-6" rows="20" cols="70" placeholder="性质	航班号	机型	机号	机位1	登机口	起飞	计飞	预飞	EOBT	COBT	上客	实飞	实达	预达	计达	到达	机位2	机长	出港延误	延误	56号令延误	取消	备降	要客	特服	关客舱	关货舱	国际	航班日期	备注"></textarea>
        </div>

        <div>
            <input type="submit" value="预览" class="btn btn-info" name="action" />
            <input type="submit" value="提交" class="btn btn-success" name="action" />
        </div>

    </div>

        <div class="form-group">

            <table class="table">
                <tr>
                    <th>0性质</th>
                    <th>1航班号</th>
                    <th>2机型</th>
                    <th>3机号</th>
                    <th>4机位1</th>
                    <th>5登机口1</th>
                    <th>6起飞</th>
                    <th>7计飞</th>
                    <th>8预飞</th>
                    <th>9EOBT</th>
                    <th>10COBT</th>
                    <th>11上客</th>
                    <th>12实飞</th>
                    <th>13实达</th>
                    <th>14预达</th>
                    <th>15计达</th>
                    <th>16到达</th>
                    <th>17机位2</th>
                    <th>18机长</th>
                    <th>19出港延误</th>
                    <th>20延误</th>
                    <th>2156号令延误</th>
                    <th>22取消</th>
                    <th>23备降</th>
                    <th>24要客</th>
                    <th>25特服</th>
                    <th>26关客舱</th>
                    <th>27关货舱</th>
                    <th>28国际</th>
                    <th>29航班日期</th>
                    <th>30备注</th>
                </tr>
                @if (ViewBag.Content != null)
                {
                    foreach (string item in ViewBag.Content)
                    {
                        if (!string.IsNullOrEmpty(item))
                        {
                            <tr>
                                @foreach (var t in item.Split('\t'))
                                {
                                    <td>@t.ToString()</td>
                                }


                            </tr>
                        }
                    }
                }
            </table>
        </div>

}

<div>
    @Html.ActionLink("返回", "MFIndex")
</div>

