
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>


    <div class="list-group">       
        <h4 class="list-group-item active">
            部门设置
        </h4>      
      <a href="@Url.Action("Index","Departments")" class="list-group-item">
          <h5>
              部门设置 
          </h5>
      </a>
        <a href="@Url.Action("Index","SubDepartments")"  class="list-group-item">
            <h5>
                子部门设置
            </h5>
        </a>

          
       
    </div>


